<div class="row mt-3">
  <div class="col-xs-6 text-center mt-3 mb-3">
    <a routerLink="../faq"><div class="cuadro">
        <mat-icon class="tam-ico">help</mat-icon>
        <p class="inicio">Preguntas Frecuentes</p>
      </div></a>
  </div>
  <div class="col-xs-6 text-center mt-3 mb-3">
    <a routerLink="../tecnica"><div class="cuadro">
        <mat-icon class="tam-ico">build</mat-icon>
        <p class="inicio">Soporte Técnico/Conectividad</p>
      </div></a>
  </div>
</div>
<div class="row">
    <div class="col-xs-6 text-center mt-3 mb-3">
      <a routerLink="../noticias"><div class="cuadro">
          <mat-icon class="tam-ico">radio</mat-icon>
          <p class="inicio">Noticias</p>
        </div></a>
    </div>
    <div class="col-xs-6 text-center mt-3 mb-3">
      <a routerLink="../contenidos"><div class="cuadro">
          <mat-icon class="tam-ico">school</mat-icon>
          <p class="inicio">Contenido UNETE</p>
        </div></a>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-6 text-center mt-3 mb-3">
        <a routerLink="../manuales"><div class="cuadro">
            <mat-icon class="tam-ico">book</mat-icon>
            <p class="inicio">Manuales</p>
          </div></a>
      </div>
    </div>