<div class="sidenav">
    <mat-toolbar class="toolbar-nav">
        <span>{{nombre}}</span>
    </mat-toolbar>
    <div class="sideImage">
      <img src="{{foto}}">
    </div>
    <mat-nav-list>
      <a routerLink="inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Inicio</h3>
      </a>
  
      <a routerLink="faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item>
        <mat-icon matListIcon>info</mat-icon>
        <h3 matLine>Preguntas Frecuentes</h3>
      </a>
  
      <a routerLink="tecnica" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item >
        <mat-icon matListIcon>build</mat-icon>
        <h3 matLine>Soporte</h3>
      </a>
  
      <a routerLink="noticias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item>
        <mat-icon matListIcon>radio</mat-icon>
        <h3 matLine>Noticias</h3>
      </a>
  
      <a routerLink="contenidos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item>
        <mat-icon matListIcon>school</mat-icon>
        <h3 matLine>Contenidos UNETE</h3>
      </a>
  
      <a routerLink="manuales" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item>
        <mat-icon matListIcon>book</mat-icon>
        <h3 matLine>Manuales</h3>
      </a>
    </mat-nav-list>   
  </div>