<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>description</mat-icon>
        &nbsp;
        Garantías
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a target='_blank' href="../assets/docs/garantia/googleAll.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>All in One Proyecto Google</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/googleComp.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Componentes Proyecto Google</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/escritorio.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos de escritrio HP</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/proyector.pdf" mat-list-item>
        <mat-icon matListIcon>videocam</mat-icon>
        <h3 matLine>Proyector</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/205g2.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos HP 205 G2</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/205g2gen.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos HP 205 G2 Genérico</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/205g3gen.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos HP 205 G3 Genérico</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/edomex.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos Proyecto Edo. Mex.</h3>
      </a>
      <a target='_blank' href="../assets/docs/garantia/hidalgo.pdf" mat-list-item>
        <mat-icon matListIcon>devices</mat-icon>
        <h3 matLine>Equipos Proyecto Hidalgo</h3>
      </a>
    </mat-nav-list>        
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings_backup_restore</mat-icon>
          &nbsp;
          Restauración de equipos de cómputo
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a target='_blank' href="../assets/docs/restauracion/hp18.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 18</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/hp1105.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 1105</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/hp1155.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 1155</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/hp205.mp4" mat-list-item>
          <mat-icon matListIcon>play_circle_filled</mat-icon>
          <h3 matLine>HP All in One 205</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/optiplex380.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>Dell Optiplex 380</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/205g3.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 205 G3 Edo. Mex.</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/1105google.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 1105 Google</h3>
        </a>
        <a target='_blank' href="../assets/docs/restauracion/1105hidalgo.pdf" mat-list-item>
          <mat-icon matListIcon>desktop_windows</mat-icon>
          <h3 matLine>HP All in One 1105 Hidalgo</h3>
        </a>
      </mat-nav-list>        
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>wifi_tethering</mat-icon>
            &nbsp;
            Conectividad
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a target='_blank' href="../assets/docs/coenctividad/cisco.pdf" mat-list-item>
            <mat-icon matListIcon>router</mat-icon>
            <h3 matLine>Diagrama México Conectado CISCO</h3>
          </a>
          <a target='_blank' href="../assets/docs/conectividad/huawei.pdf" mat-list-item>
            <mat-icon matListIcon>router</mat-icon>
            <h3 matLine>Diagrama México Conectado HUAWEI</h3>
          </a>
          <a target='_blank' href="../assets/docs/conectividad/procesos.pdf" mat-list-item>
            <mat-icon matListIcon>router</mat-icon>
            <h3 matLine>Inducción de los procesos de conectividad</h3>
          </a>
        </mat-nav-list>        
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>developer_mode</mat-icon>
              &nbsp;
              Software
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a target='_blank' href="../assets/docs/software/iusa.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Google: Tableta IUSA a AnyCast</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/galaxy.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Google:  Tableta Samsung Galaxy Tab S2 a Chromecast</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/ezwifilan.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Proyector: EZ WiFi-LAN</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/ezcastpro.mp4" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Proyector: EZCastPro</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/proyector.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Proyector: Manual de conexión</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/parche.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Proyector: Funcionamiento del parche</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/candado.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Desactivar candado</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/nombreygrupo.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Poner nombre y grupo de trabajo</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/uneteoffline.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Servidor: Comunidad UNETE offline
              </h3>
            </a>
            <a target='_blank' href="../assets/docs/software/toolwiz.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Toolwiz Time Freeze</h3>
            </a>
            <a target='_blank' href="../assets/docs/software/casio.pdf" mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <h3 matLine>Instalar controlador "Proyector CASIO"</h3>
            </a>
          </mat-nav-list>        
        </mat-expansion-panel>
</mat-accordion>