.campo-mail{
    margin: 15px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin: 5px;
}

.btn-100{
    width: 300px;
    border-color: transparent;
}

@media(max-width:360px){
    .campo-mail{
        width: 260px;
    }
    .btn-100{
        width: 260px;
    }
}

.btn-fb{
    background-color:rgb(59, 89, 152);
    color: #fff;
}

.btn-go{
    background-color:rgb(221, 75, 57);
    color: #fff;
}

hr{
    max-width: 300px;
}

.btnI{
    background-color: rgb(246, 129, 20);
}

.btnI:hover{
    background-color: rgb(241, 158, 79);
}
.btnR{
    background-color: transparent;
    color: rgb(0, 120, 215);
}

.btnR:hover{
 background-color: lightgray;
}