<mat-accordion>
  <!--CONECTIVIDAD-->
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>help</mat-icon>
          &nbsp;
          Mesa de conectividad
        </mat-panel-title>
      </mat-expansion-panel-header>  
      <mat-accordion>
        GENERALES
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Comó puedo comunicarme con mesa de conectividad?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="respuestas">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Puedes entrar al apartado de soporte en esta aplicación, estamos en un horario de 9:00 a 18:30 horas. Otras opciones son, por teléfono al (55)5027 1000 ó 01 800
                087 86383, mediante chat en la pagina web www.comunidadunete.net y a través de WhatsApp al 55 2728 0772.</span>
          </mat-nav-list>        
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Comó puedo levantar un ticket en la mesa de conectividad?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="respuestas">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Debes ingresar a la página <a href="https://www.comunidadunete.net/manuales/casos/casos.html">https://www.comunidadunete.net/manuales/casos/casos.html</a> donde te guiaremos paso a paso, o si lo prefieres puedes contactarte con la mesa de conectividad (Pregunta 1).</span>
          </mat-nav-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Cómo puedo darle seguimineto a mi caso?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>El operador que te atendió te debió proporcionar un numero de ticket, el cual debes guardar ya que hace referencia al caso levantado.</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Tener el nombre del operador que te atendió, ya que el es el responsable de tu seguimiento.</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Comunícate a través de los medios disponbles y en los horarios indicados, proporcionando tu Clave de Centro de Trabajo (CCT) y el número de ticket.</span>
            </div>
          </mat-nav-list> 
        </mat-expansion-panel>
        INTERNET
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿No tengo conexion a internet?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="respuestas">
            
            <span>1.	Verificar que los equipos que proveen internet esten conectados a la corriente eléctrica.<br>
              2.	Verificar que los cables de los equipos que proveen internet estén en buen estado.<br>
              3.	Verificar que el modem tenga los indicadores LED prendidos (POWER).</span>
          </mat-nav-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Por qué mi navegacion en internet es lenta?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Depende de dos factores muy importantes, el ancho de banda y la velocidad de transferencia. Puedes aplicar un test en la siguiente pagina www.speedtest.net</span>
          </div>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>El metodo de conexión, WiFi o Ethernet, donde la velocidad de navegación es mas lenta por WiFi y depende mucho de la distancia del dispositivo al módem.</span>
          </div>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Muchos equipos están conectados a la red, ya sea por WiFi o Ethernet, éstos pueden estar descargando archivos en segundo plano y afectar la velocidad.</span>
          </div>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Por el estado de los equipos, tanto en hardware como en software (Virus)</span>
          </div>
          </mat-nav-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Por qué tengo intermitencias en el servicio de internet?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Si el servicio es <i>terrestre</i> (TELMEX, TELNOR, MEGACABLE, TOTALPLAY, IZZI, etc), tenemos que verificar que el estado de las conexiones y los equipos esten en buen estado y en su respectivo lugar.</span>
          </div>
          <div class="bullets">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <span>Si el servicio es <i>satelital</i> (STARGO, ELARA), se puede ver afectado por el clima y la velocidad de transferencia., de igual manera tenemos que verificar que el estado de las conexiones y los equipos esten en buen estado.</span>
          </div>
          </mat-nav-list> 
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
    <!--SOPORTE TECNICO-->
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>help</mat-icon>
          &nbsp;
          Mesa de ayuda
        </mat-panel-title>
      </mat-expansion-panel-header>  
      <mat-accordion>
        RESTAURACIÓN DE EQUIPOS
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Comó puedo restaurar mi equipo de cómputo?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Ve a la sección de <b>manuales</b>. </span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Identifica la <b>marca</b> y <b>modelo</b> del equipo.</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Descarga el manual indicado y sigue las instrucciones.</span>
            </div>     
          </mat-nav-list>
        </mat-expansion-panel>
        GARANTÍA DE EQUIPOS
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              Necesito la garantía de mi equipo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Ve a la sección de <b>manuales</b>. </span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Identifica la <b>marca</b> y <b>modelo</b> del equipo.</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Descarga el manual indicado y sigue las instrucciones.</span>
            </div>     
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              &nbsp;
              ¿Mi equipo tiene virus?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Falta contenido educativo</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Está muy lento mi quipo</span>
            </div>
            <div class="bullets">
              <mat-icon matListIcon>arrow_right</mat-icon>
              <span>Pantallazo azul (volcado de memoria)</span>
            </div>
          </mat-nav-list> 
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>