.centrado{
    text-align: center;
}
.mat-card-header{
    justify-content: center;
}

.foto-user{
    text-align: center;
}

.rounded-circle{
    width: 70px;
    margin: 10px;
}
 .boton-enviar{
     margin: 10px;
 }